* {
    padding: 0px;
    margin: 0px;
}

/* header styles */
header {
    align-items: center;
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    height: 10vh;
    justify-content: space-around;
    padding: 15px;
}


/* main section styles */
.main {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 80vh;
    margin-top: 2%;
    padding-top: 15px;
}

/* scoreboard styles */
.scoreBoard {
    border-right: solid 2px grey;
    height: 100%;
    justify-self: flex-start;
    padding-left: 2%;
    margin-bottom: 15px;
    width: 20%;
}

.scoreBoard h1 {
    border-bottom: solid 1px grey;
    padding-bottom: 2px;
}

ul {
    list-style-type: none;
    padding-left: 2%;
    margin-top: 1%;
}

.scoreReset {
    height: 35px;
    margin-top: 5%;
    width: 150px;
}

/* quiz section styles */
.quiz {
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 80%;
}
/* question section styles */
.question {
    display: flex;
    flex-direction: column;
}

.question p {
    align-self: center;
}

.startQuiz {
    height: 50px;
    margin-bottom: 25px;
    width: 200px;
}

.question h1 {
    display: none;
    margin-top: 1%;
    padding-bottom: 15px;
}

/* answer button styles */
.answerBtns {
    display: none;
    height: 50px;
    margin-bottom: 10px;
    padding: 1%;
    min-width: 200px;
}

/* user input prompt */
.prompt {
    display: none;
}

.submitInitials {
    height: 35px;
    margin-top: 1%;
    width: 150px;
}

/* Section showing quiz taker if they were "Correct!" or "Wrong!" */

.response {
    align-self: flex-end;
    border-top: 1px grey solid;
    display: none;
    font-size: 20px;
    width: 100%;
}

/* adjust layout for phone-medium screens */
@media screen and (max-width: 900px) {
    header{
        height: 100%;
    }

    .main {
        flex-direction: column;
    }

    .scoreBoard {
        border-right: none;
        height: 25%;
        width: 100%;
    }

    ul li {
        display: inline;
        padding-left: 2px;
    }

    .quiz {
        border-top: 1px grey solid;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        width: 100%;
    }
}