* {
    padding: 0px;
    margin: 0px;
}

header {
    align-items: center;
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    justify-content: space-around;
    padding: 15px;
}

.main {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 100%;
    margin-top: 25px;
    padding-top: 15px;
}

.scoreBoard {
    border-right: solid 2px grey;
    height: 100%;
    justify-self: flex-start;
    width: 20%;
}

.scoreBoard h1 {
    border-bottom: solid 1px grey;
    margin-left: 2%;
    padding-bottom: 2px;
}

.quiz {
    display: flex;
    padding-left: 5px;
    justify-content: center;
    height: 100%;
    width: 80%;
}